*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: darkgray;
}

.container{
    padding: 10px;
    border: 3px greenyellow solid;
    border-radius: 25px;;
    background-color: black;
    height: 120px;
    width: 360px;
    box-shadow: 0 16px grey;
}

.display{
    font-weight: 600;
    font-size: 38px;
    color: white;
    text-align: center;
    padding: 10px;
}

.controls{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    
}

button{
    width: 90px;
    height: 30px;
    border: 2px greenyellow solid;
    border-radius: 15px;
    font-weight: 600;
    font-size: 14px;
}

button:active{
    background-color: lightgrey;
}